.starforce {
    input {
        height: 40px;
        border: 2px solid @brand-primary !important;
    }

    .zmdi-star, .zmdi-star-outline {
        font-size: 24px;
        color: @brand-primary;
    }

    .zmdi-star {
        &:not(.zmdi-star-outline) {
            color: @m-yellow;
        }
    }

    .zmdi-star-outline.hovered {
        color: @m-yellow;
    }

    .result {
        font-size: 24px;
        background: rgba(0, 0, 0, 0.75);
        padding: 8px 16px;
        
        @media (max-width: 767px) {
            & {
                &:first-child {
                    padding-bottom: 0;
                }

                &:nth-child(2) {
                    padding-top: 0;
                }
            }
        }

        .history {
            .ad-total { color: @m-cyan; }
            .ad-basic { color: #fff; }
            .ad-bonus { color: @m-lime; }
            .ad-enchant { color: @m-cyan; }
        }
    }

    .mushroom {
        width: 48px;
        border-radius: 50%;
    }
}

.arcane {
    color: #fff;
    font-weight: 700;

    .keys {
        background: rgba(0, 150, 190, 0.75);
    }

    .values {
        background: rgba(76, 175, 80, 0.75);

        > div {
            font-size: 24px;
        }
    }

    .keys, .values {
        border-bottom: 1px dashed @m-lightgray;

        > div {
            padding: 16px;

            &:first-child {
                border-right: 1px dashed @m-lightgray;
            }
        }
    }

    .level-box {
        div > div {
            padding: 8px;
            color: #fff;
            background: rgba(76, 175, 80, 0.75);
            border: 1px dashed #fff;
            cursor: pointer;
            
            &.selected {
                background: rgba(0, 150, 190, 0.75);
            }
        }
    }
}

.ability {
    .items {
        margin: auto;
        border-spacing: 0;
        
        tr {
            &:first-child > td {
                background: #fff !important;
                color: @text-color-dark;
            }
        }

        .item {
            padding: 5px;
            text-align: center;
            color: #fff;

            &:first-child {
                background-color: rgba(36, 164, 225, 1);
                border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
            }
            &:not(:first-child) {
                // min-width: 120px;
            }
            &:nth-child(2) { background: @maple-rare; }
            &:nth-child(3) { background: @maple-epic; }
            &:nth-child(4) { background: @maple-unique; }
            &:nth-child(5) { background: @maple-legendary; }
        }
    }
}

.board {
    .articles {
        .slow-hover:hover {
            background: @maple-rare;
            color: #fff !important;
        }

        .selected {
            background: @maple-epic !important;
            color: #fff !important;
        }
    }

    .article-header, .reply {
        .info {
            .flex-wrap {
                &:not(:last-child)::after {
                    font-size: 7px;
                    color: lightgray;
                    content: "|";
                    margin: 0 4px;
                }
            }
        }
    }

    .article {
        background: #fff;

        .article-header {
            background: @maple-unique;
        }

        .expressions {
            margin: auto;

            .buttons {
                button {
                    .lines-1();
                    border: 1px solid gray;
                    box-shadow: none;
                }
            }
        }

        .expressions-article {
            .expressions {
                width: 200px;
                padding: 16px;

                button {
                    padding: 16px 8px;
                }
            }

            border-bottom: 1px dotted gray;
        }

        .expressions-reply {
            .expressions {
                width: 120px;
                
                .buttons {
                    button {
                        font-size: 8px;
                    }
                }
            }
        }
    }

    .write-reply {
        border-top: 1px solid lightgray;
        padding: 16px 8px;
    }
}

.tips {
    .slow-hover:hover {
        .text-shadow();
    }
}

.link, .union {
    table {
        border-radius: 4px;
        overflow: hidden;
    }
}

.union, .cube-probability {
    tr:first-child {
        border-bottom: 1px dotted #000;
    }
}

.cube-probability {
    .flex-row {
        .flex-fill {
            color: #fff;
            padding: 8px;
            justify-content: center;

            .flex-row();
            .items-center();
        }
    }
}

.not-found {
    img {
        width: 120px;
        border-radius: 50%;
    }

    .container {
        height: ~"calc(100vh - 240px)";

        > div {
            border-radius: 50%;
            max-width: 280px;
            height: 280px;
            margin: auto;
            box-shadow: 0px 0px 24px 24px @brand-warning;
        }
    }
}